<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Item</title>
	</head>
	<body>
		<nav>
			<a href="/store">Back to The Mongoose Store</a>
		</nav>
		<h1><%=products.name %></h1>
		<p><%= products.description%></p>
		<br />
        
        <img src="<%=products.img%>"/>
        <br />
		<p><strong>Price: </strong><%= products.price%> ||<strong> Quanity: </strong><%= products.qty%></p>
	</body>
</html>